<!DOCTYPE html>
<html class="no-js">
<head>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">

	<title>Giussi - Basso</title>


	<style>
	html, body, #map-canvas {
		height: 100%;
		margin: 0px;
		padding: 0px
	}
	</style>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script src="/js/socket.io.min.js"></script>
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>



</head>

<body>
<div class= "panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"> Posts de instagram con tag: <label id="tagname"></label></h3>
	</div>
	<div class="panel-body">
		Tag: <input id="tagvalue" name="tag" />
		<button onclick="suscribe()" >Suscribe</button>
		<button onclick="unsuscribe()" >Unsuscribe</button>
		<button onclick="clean()"  >Clean</button>
		<div style="display:inline-block">
			<div style="width:400px; height:500px;display:inline-block"><div id="chart_div"></div></div>
			<div id="map-canvas" style="width:800px;height:500px;display:inline-block">test</div>
		</div>
	</div>
</div>

	<!-- CALL MAIN APP SCRIPT -->
<script src="/js/app.js"></script>



</body>
</html>
